<!--<template>
  <h5>Restreindre la Recherche</h5>
  <table class="table table-hover">
    <thead>
      <tr>
        <th> Catégorie </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="sector in sectors" :key="sector" class="hand-cursor">
        <td> <input v-model="selectedSectors" type="checkbox"  :value="sector" /> {{ sector }} </td>
      </tr>
    </tbody>
  </table>
  <table class="table table-hover">
    <thead>
      <tr><th>Lieu</th></tr>
    </thead>
    <tbody>
      <tr v-for="city in cities" :key="city">
        <td> <input type="checkbox" v-model="selectedCities" :value="city" /> {{ city }} </td>
      </tr>
    </tbody>
  </table>
  <table class="table table-hover">
    <thead>
      <tr><th>Contrat</th></tr>
    </thead>
    <tbody>
      <tr v-for="contrat in contrats" :key="contrat">
        <td> <input type="checkbox" v-model="selectedContrats" :value="contrat" /> {{ contrat }} </td>
      </tr>
    </tbody>
  </table>
  </template>-->

  <template>
  <div class="filter-container">
    <h5>Restreindre la Recherche</h5>
    <div class="filter-section">
      <h6>Catégorie</h6>
      <ul class="filter-list">
        <li v-for="sector in sectors" :key="sector" class="hand-cursor">
          <label class="filter-label">
            <input v-model="selectedSectors" type="checkbox" :value="sector" class="filter-checkbox" />
            {{ sector }}
          </label>
        </li>
      </ul>
    </div>
    <div class="filter-section">
      <h6>Lieu</h6>
      <ul class="filter-list">
        <li v-for="city in cities" :key="city">
          <label class="filter-label">
            <input type="checkbox" v-model="selectedCities" :value="city" class="filter-checkbox" />
            {{ city }}
          </label>
        </li>
      </ul>
    </div>
    <div class="filter-section">
      <h6>Contrat</h6>
      <ul class="filter-list">
        <li v-for="contrat in contrats" :key="contrat">
          <label class="filter-label">
            <input type="checkbox" v-model="selectedContrats" :value="contrat" class="filter-checkbox" />
            {{ contrat }}
          </label>
        </li>
      </ul>
    </div>
  </div>
</template>

<style>

.filter-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-section {
  margin-bottom: 20px;
}

.filter-list {
  list-style: none;
  padding: 0;
}

.filter-label {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #333;
  cursor: pointer;
}

.filter-checkbox {
  margin-right: 5px;
}

.hand-cursor {
  cursor: pointer;
}

</style>
  
  <script>
  import EventBus from './EventBus.js';
  export default {
    name: 'JobFilter',
    props: ['cities','sectors', 'contrats'],
    data() {
      return {
        selectedCities: [],
        selectedSectors: [],
        selectedContrats: []
      };
    },
    methods: {
      updateSelectedCities() {
        EventBus.emit('selectedCitiesUpdated', this.selectedCities);
      },
      updateSelectedSectors() {
        EventBus.emit('selectedSectorsUpdated', this.selectedSectors);
      },
      updateSelectedContrats() {
        EventBus.emit('selectedContratsUpdated', this.selectedContrats);
      }
    },
    watch: {
      selectedCities() {
        this.updateSelectedCities();
      },
      selectedSectors() {
        this.updateSelectedSectors();
      },
      selectedContrats() {
        this.updateSelectedContrats();
      }
    }
  };
  </script>