<template>
    <div v-for="item in paginatedJobs" :key="item.id" class="row">
      <div class="card col-md-4">
        <div class="card-body card-with-image">
          <img src="../assets/img.jpg" alt="Image de l'offre d'emploi">
        </div>
      </div>
      <div class="card col-md-8">
        <div class="card-body">
          <h1 class="card-title"><b>{{item.titre}}</b></h1>
          <p class="card-subtitle">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512">
              <path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/>
            </svg>
            {{ item.lieu }}
          </p>
          <p class="card-subtitle">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512">
              <path d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM80 64h64c8.8 0 16 7.2 16 16s-7.2 16-16 16H80c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 64h64c8.8 0 16 7.2 16 16s-7.2 16-16 16H80c-8.8 0-16-7.2-16-16s7.2-16 16-16zm54.2 253.8c-6.1 20.3-24.8 34.2-46 34.2H80c-8.8 0-16-7.2-16-16s7.2-16 16-16h8.2c7.1 0 13.3-4.6 15.3-11.4l14.9-49.5c3.4-11.3 13.8-19.1 25.6-19.1s22.2 7.7 25.6 19.1l11.6 38.6c7.4-6.2 16.8-9.7 26.8-9.7c15.9 0 30.4 9 37.5 23.2l4.4 8.8H304c8.8 0 16 7.2 16 16s-7.2 16-16 16H240c-6.1 0-11.6-3.4-14.3-8.8l-8.8-17.7c-1.7-3.4-5.1-5.5-8.8-5.5s-7.2 2.1-8.8 5.5l-8.8 17.7c-2.9 5.9-9.2 9.4-15.7 8.8s-12.1-5.1-13.9-11.3L144 349l-9.8 32.8z"/>
            </svg>
            {{item.contrat}}
          </p>
          <p class="card-subtitle"> {{ item.categorie }}</p>
          <button class="arrow-button" onclick="window.location.href='lien_vers_offre_details.html'">
            Voir les détails <span class="arrow-icon">➔</span>
          </button>
        </div>
      </div>
    </div>

  <v-pagination
    v-model="page"
    :pages="pageCount"
    :range-size="1"
    active-color="#DCEDFF"
    @update:modelValue="updateHandler"
  />
</template>

<style>
.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card-title {
  font-size: 28px;
  font-weight: bold;
  color: #004080;
  margin: 0;
  align-self: center;
  margin-bottom: 10px;
}
.card-subtitle {
  font-size: 18px;
  color: #333;
  margin-top: 10px;
  align-self: center;
}
.icon {
  vertical-align: middle;
  margin-right: 5px;
}
.date {
  font-size: 16px;
  color: #666;
  margin-top: 10px;
}
.arrow-button {
  background-color: #004080;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
  margin-top: 15px;
}
.arrow-button:hover {
  background-color: #003366; 
}
.arrow-icon {
  vertical-align: middle;
  margin-left: 5px;
}

.card-with-image {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-with-image img {
  max-width: 100%;
  max-height: 100%; 
}
</style>

<script>
import VPagination from "@hennge/vue3-pagination";
import "@hennge/vue3-pagination/dist/vue3-pagination.css";
export default {
  
  name: 'JobList',
  components: {
    VPagination
  },
  props: ['jobs', 'selectedCities', 'selectedSectors', 'selectedContrats'],
  data() {
    return {
      asc: 'asc',
      localJobs: [...this.jobs],
      page:1,
      itemsPerPage: 5
    }
  },
  computed: {
    filteredJobs() {
      return this.localJobs.filter(job => {
        const cityFilter = this.selectedCities.length === 0 || this.selectedCities.includes(job.lieu);
        const sectorFilter = this.selectedSectors.length === 0 || this.selectedSectors.includes(job.categorie);
        const contratFilter = this.selectedContrats.length === 0 || this.selectedContrats.includes(job.contrat);
        return cityFilter && sectorFilter && contratFilter;
      });
    },
    pageCount() {
      return Math.ceil(this.filteredJobs.length / this.itemsPerPage);
    },
    paginatedJobs() {
      const startIndex = (this.page - 1) * this.itemsPerPage;
      const endIndex = startIndex + this.itemsPerPage;
      return this.filteredJobs.slice(startIndex, endIndex);
    },
  },
  methods: {
    updateHandler(newPage) {
        this.page = newPage;
    }
  }
};
</script>