
<template>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="card card-custom card-with-image" @mouseover="addHoverClass" @mouseout="removeHoverClass">
          <a href="#"><img class="card-img-top" src="../assets/commerce.jpeg" alt="Commerce"></a>
          <div class="card-body">
            <h5 class="card-title">Commerce</h5>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card card-custom card-with-image">
          <a href="#"><img class="card-img-top" src="../assets/commerce.jpeg"  alt="Consulting"></a>
          <div class="card-body">
            <h5 class="card-title">Consulting</h5>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card card-custom card-with-image">
          <a href="#"><img class="card-img-top" src="../assets/commerce.jpeg" alt="Fonction Support"></a>
          <div class="card-body">
            <h5 class="card-title">Fonction Support</h5>
          </div>
        </div>
      </div>
    </div>
  </div> <br>

  <div class="container">
    <div class="row">
      <div class="col-3">
        <JobFilter :cities="cityFilter" :sectors="activityFilter" :contrats="contratFilter"></JobFilter>
      </div>
      <div class="col-9">
        <JobList :jobs="dataOffre" :selectedCities="selectedCities"  :selectedSectors="selectedSectors" :selectedContrats="selectedContrats"></JobList>
      </div>
    </div>
  </div>
  
</template>
<style>

.container {
  max-width: 1200px;
  margin: 20px auto;
}

.card-custom {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
}

.card-custom:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-body {
  flex: 1;
  text-align: center;
  padding: 1.5rem;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.block-container {
  max-width: 400px;
  margin: 20px auto;
}

.block-spontaneous-content {
  background-color: #0095cd;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.spontaneous-link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.hovered {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.card-with-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.card-with-image img {
  width: 100%; 
  height: auto;
}

</style>
<script>
import data from './offre.js'
import JobFilter from './JobFilter'
import JobList from './JobList'
import EventBus from './EventBus.js';

export default {
  name: 'OffreEmploi',
  components: {
    JobFilter,
    JobList,
},
  data() {
    return {
      dataOffre: [],
      currentPage: 1,
      perPage: 10,
      isHovered: false,
      cityFilter:[],
      activityFilter: [],
      contratFilter: [],
      selectedCities: [],
      selectedSectors: [],
      selectedContrats: []
    };
  },
  created() {
    this.loadData();
    EventBus.addEventListener('selectedCitiesUpdated', cities => {
      this.selectedCities = cities.data;
    });
    EventBus.addEventListener('selectedSectorsUpdated', sectors => {
      this.selectedSectors = sectors.data;
    });
    EventBus.addEventListener('selectedContratsUpdated', contrats => {
      this.selectedContrats = contrats.data;
    });
    

  },
  methods: {
    loadData() {
      this.dataOffre = Object.assign(data.offre);
    },
    addHoverClass() {
      this.isHovered = true;
    },
    removeHoverClass() {
      this.isHovered = false;
    }
    /*filterByCategorie(cat) {
     //return this.selectedSectors = this.dataOffre.filter(data => data.categorie === cat)
    }*/ 
  },
  beforeMount() {
     this.cityFilter = [...new Set(this.dataOffre.map(data => data.lieu))]
     this.activityFilter =  [...new Set(this.dataOffre.map(data => data.categorie))]
     this.contratFilter = [...new Set(this.dataOffre.map(data => data.contrat))]
  }
};
</script>